<%= form_for @sentence, :html => { :class => "form-group" } do |f| %>
  <% if @sentence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sentence.errors.count, "error") %> prohibited this sentence from being saved:</h2>

      <ul>
      <% @sentence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :input, placeholder: "Type a sentence here (max 1000 characters)", class: "form-control" %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
  </div>
<% end %>
