<p id="notice"><%= notice %></p>

<h1>Sentences</h1>
<p>Create a new sentence and view it's first non-repeating character.  Sentences are limited to 1000 characters and whitespace is trimmed.</p>

<%= link_to 'New Sentence', new_sentence_path %>

<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Input</th>
      <th>First non-repeating character</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= sentence.input %></td>
        <td><%= sentence.first_non_repeating_character %></td>
        <td><%= link_to 'Show', sentence %></td>
        <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
        <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>



